
body 
{
    background-color: #aaaea7;
}


.basicButton
{
    width: 120; 
    height: 30;
    border-radius: 4px;
    border: 1px solid #444647;
}

.basicTitle
{
    color: #000000; 
    font-family: "Arial";
    font-size: 19;
}

.panel
{ 
    position: absolute; 
    color: #335500; 
    font-family: "Arial";
    font-size: 12;  
    width: 270; 
    /*height: 480; */
    left: 10; 
    top: 10;     
    background-color: #ccccc6;
    border-radius: 4px;
}

.navigationButton
{
    position: absolute; 
    width:  30; 
    height: 30;        
    background-size: 25px 25px;
    border-radius: 4px;
    border: 1px solid #444647;
}

.viewButton
{
    position: absolute; 
    width:  80; 
    height: 20;   
    background-color: #e7e7e7; 
    font-family: "Arial";
    font-size: 10;   
    border-radius: 4px;
    border: 1px solid #444647;
}

/* -------------------  */
/* id's                 */
/* -------------------  */

#Canvas
{
    position: absolute; 
}

#masterPanel
{
    position: absolute; 
    
/* this makes it (and thus everything) stick to the right on resize */    
right: 20;
/*left: 720; */

    top: 10; 
    width: 355; 
    height: 500;
}

#header
{
    position: absolute; 
    left: 0; 
    top: 2;
    color: #224422; 
    font-family: "Arial black";
}

#accountButton
{
    position: absolute; 
    right: 60; 
    top: 6;
    background: transparent;
    border: none;
    font-size: 12;
    font-family: "Arial";
}
#loginButton
{
    position: absolute; 
    right: 10; 
    top: 6;
    background: transparent;
    border: none;
    font-size: 12;
    font-family: "Arial";
}

#menuPanel
{
    position: absolute; 
    left: 0; 
    top: 8;
    color: #224422; 
    font-family: "Arial black";
}

.menuButton
{
    position: absolute; 
    width: 65; 
    height: 30;
    /*vertical-align: text-top;*/
    background-color: #ccccc6;
    color: #000000; 
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #444647;
    
      
  /*
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  */    
    
    
}

#menuPoolButton
{
    left: 0;
    top: 24;
}
#menuSwimbotButton
{
    left: 70;
    top: 24;
}
#menuTweakButton
{
    left: 140;
    top: 24;
}
#menuGraphButton
{
    left: 210;
    top: 24;
}
#menuInfoButton
{
    left: 280;
    top: 24;
}

#mainPanel
{
    position: absolute; 
    left: 0; 
    top: 70; 
    width: 355; 
    height: 450;
    background-color: #ccccc6;
    border-style: solid; 
    border-width: 1; 
    border-color: #777777;
    border-radius: 4px;
}

#graphCanvas
{
    position: absolute; 
    left: 0;
    width: 344; 
    height: 480;
}

#pool1Button
{
    position: absolute; 
    left: 0;
    top:  70;
}

#pool2Button
{
    position: absolute; 
    left: 125;
    top:  70;
}

#pool3Button
{
    position: absolute; 
    left: 0;
    top:  105;
}
#pool4Button
{
    position: absolute; 
    left: 125;
    top:  105;
}
#pool5Button
{
    position: absolute; 
    left: 0;
    top:  140;
}

#pool6Button
{
    position: absolute; 
    left: 125;
    top:  140;
}

#pool7Button
{
    position: absolute; 
    left: 0;
    top:  175;
}

#pool8Button
{
    position: absolute; 
    left: 125;
    top:  175;
}

#saveLoadPanel
{
    position: absolute; 
    left: 0;
    top:  230;
    border-radius: 4px;
}

#saveLoadTitle
{
    position: absolute; 
    width: 300;
    left: 0;
    top:  10;
}

#tweakTitle
{
    position: absolute; 
    left: 0;
    top:  0;
}

#graphTitle
{
    position: absolute; 
    left: 6;
    top:  0;
}

#graphData
{
    position: absolute; 
    left: 10;
    top:  340;
    color: #000000; 
    font-family: "Arial";
    font-size: 14;
}


#saveButton
{
    position: absolute; 
    left: 0;
    top:  30;
}
#loadButton
{
    position: absolute; 
    left: 125;
    top: 30;
}

#familyTreeButton
{
    position: absolute; 
    left: 0;
    top: 380;
}

#freezeButton
{ 
    position: absolute; 
    left: 0;
    top: 20;
    width: 100; 
    height: 25;
    border-radius: 4px;
    border: 1px solid #444647;
}

#noRenderButton
{ 
    position: absolute; 
    left: 180;
    top: 20;
    width: 140; 
    height: 25;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

#noRenderPanel
{
    position: absolute; 
    left: 20;
    top: 20;
    width: 400; 
    height: 200;
    border-radius: 3px;
    border: 3px solid #880000;
    font-size: 16px;
    visibility: hidden;
    background-color: #ccccc6; 
}


#poolPanel
{
    visibility: hidden; 
}

#graphPanel
{
    visibility: hidden; 
}

#swimbotPanel
{
    visibility: hidden; 
}

#tweakPanel
{
    visibility: hidden;

    /*
    border-style: solid; 
    border-width: 1; 
    border-color: #777777;
    border-radius: 4px;
    */
}

#ecosystemPanel
{
    position: absolute; 
    width: 270; 
    left: 0; 
    top: 30; 
    border-radius: 4px;
}

#microscopePanel
{
    position: absolute; 
    left: 0; 
    top: 470; 
    width: 300;
    border-radius: 4px;
}


#navigation
{
    position: absolute; 
    left: 0;
    width:  130;
    height: 150;
    color: #334433; 
    font-family: "Arial";
    font-size: 12;
    background-color: #ccccc6; 
    border-style: solid; 
    border-width: 1; 
    border-color: #777777;
    border-radius: 4px;
}

#view
{
    position: absolute; 
    left: 150; 
    width: 200;
    height: 150;
    color: #334433; 
    font-family: "Arial";
    font-size: 12;
    background-color: #ccccc6; 
    border-style: solid; 
    border-width: 1; 
    border-color: #777777;
    border-radius: 4px;
}

#zapSwimbotButton
{
    position: absolute; 
    left: 0;
    top: 160;
}
#randomizeSwimbotButton
{
    position: absolute; 
    left: 130;
    top: 160;
}
#cloneSwimbotButton
{
    position: absolute; 
    left: 0;
    top: 195;
}
#killSwimbotButton
{
    position: absolute; 
    left: 130;
    top: 195;
}

#swimbotControlsTitle
{
    position: absolute; 
    left: 0;
    top:  0;
}

#createRandomSwimbotButton
{
    position: absolute; 
    left: 0;
    top:  70;
}
#loadSwimbotButton
{
    position: absolute; 
    left: 0;
    top:  135;
}
#presetSwimbot1Button
{
    position: absolute; 
    left: 0;
    top:  200;
}
#presetSwimbot2Button
{
    position: absolute; 
    left: 0;
    top:  235;
}
#presetSwimbot3Button
{
    position: absolute; 
    left: 0;
    top:  270;
}
#presetSwimbot4Button
{
    position: absolute; 
    left: 0;
    top:  305;
}
#presetSwimbot5Button
{
    position: absolute; 
    left: 130;
    top:  200;
}
#presetSwimbot6Button
{
    position: absolute; 
    left: 130;
    top:  235;
}
#presetSwimbot7Button
{
    position: absolute; 
    left: 130;
    top:  270;
}
#presetSwimbot8Button
{
    position: absolute; 
    left: 130;
    top:  305;
}



#poolSettingsTitle
{
    position: absolute; 
    left: 0;
    top: 0;
}

#startPoolTitle
{
    position: absolute; 
    left: 0;
    top: 50;
}

#saveGenesButton
{
    background-color: #dddcda;
    position: absolute; 
    left: 0;
    top: 260;
}

#showGenesButton
{
    background-color: #dddcda;
    position: absolute; 
    left: 130;
    top: 260;
}



#leftNav
{
    left:   20; 
    top:    50;
    background-image: url( "images/left.png" );
}
#rightNav
{
    left:   80; 
    top:    50;
    background-image: url( "images/right.png" );
}
#upNav
{
    left:   50; 
    top:    20;
    background-image: url( "images/up.png" );
}
#downNav
{
    left:   50; 
    top:    80; 
    background-image: url( "images/down.png" );
}
#inNav
{
    left:   20; 
    top:    110; 
    background-image: url( "images/in.png" );
}
#outNav
{
    left:   80; 
    top:    110;
    background-image: url( "images/out.png" );
}


#viewWholePoolButton
{
    left:   20; 
    top:    20;
}
#viewAutoTrackButton
{
    left:   102; 
    top:    20;
}
#viewSelectedButton
{
    left:   20; 
    top:    42;
}
#viewMutualButton
{
    left:   102; 
    top:    42;
}
#viewProlificButton
{
    left:   20; 
    top:    64;
}
#viewEfficientButton
{
    left:   102; 
    top:    64;
}
#viewVirginButton
{
    left:   20; 
    top:    86;
}
#viewGluttonButton
{
    left:   102; 
    top:    86;
}
#viewGoalButton
{
    left: 20; 
    top: 115;
    background-color: #cccccc; 
}


#accountPanel
{
    font-family: "Arial";
    font-size: 12;
    position: absolute; 
    right: 50; 
    top: 100;
    width: 300; 
    height: 200;    
    visibility: hidden;       
    background-color: #bbb8b4; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 8px 8px 40px #000000;
	border-radius: 4px;
}


#popUpPanel
{
    font-family: "Arial";
    font-size: 12;
    position: absolute; 
    right: 40; 
    top: 100;
    width: 320; 
    height: 200;    
    visibility: hidden;       
    background-color: #bbb8b4; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 8px 8px 40px #000000;
	border-radius: 4px;
}    

#cancelPopUpPanelButton
{
    visibility: hidden;
    position: absolute; 
    right: 55; 
    top: 105;
    width: 30; 
    height: 30;    
}

#cancelErrorButton
{
    visibility: hidden;
    position: absolute; 
    right: 65; 
    top: 230;    
    width: 30; 
    height: 30;    
}

#cancelAccountPanelButton
{
    visibility: hidden;
    position: absolute; 
    right: 55; 
    top: 105;
    width: 30; 
    height: 30;    
}

#PopUpPanelError
{
    font-family: "Arial";
    font-size: 12;
    visibility: hidden;
    position: absolute; 
    right: 65; 
    top: 230;
    width: 300; 
    height: 80;    
    background-color: #bbb8b4; 
    border-style: solid; 
    border-width: 2; 
    border-color: #555555;
}

#popUpPanelInput
{
    visibility: hidden;       
    position: absolute;
    
    right: 205;
    top: 185;
    
/*
right: 10;
top: 225;
*/

}


#accountEmailInput
{
    visibility: hidden;       
    position: absolute; 
    right: 208; 
    top: 225;
}


#accountPasswordInput
{
    visibility: hidden;       
    position: absolute; 
    right: 208; 
    top: 285;
}


#savePopUpPanelButton
{
    visibility: hidden;       
    position: absolute; 
    right: 265; 
    top: 170;
    width: 100; 
    height: 30;    
    background-color: #dddcda;
    border-radius: 4px;
    border: 1px solid #444647;
}

#noSavePopUpPanelButton
{
    visibility: hidden;       
    position: absolute; 
    right: 265; 
    top: 280;
    width: 100; 
    height: 30;    
    background-color: #dddcda;
    border-radius: 4px;
    border: 1px solid #444647;
}

#dataDisplayButton
{
    visibility: hidden;
    position: absolute; 
    right: 240; 
    top: 210;
    width: 120; 
    height: 25;    
    background-color: #bbb8b4; 
}

#closeDataDisplay
{
    visibility: hidden;       
    position: absolute; 
    right: 205; 
    top: 105;
    width: 30; 
    height: 30;    
    background-color: #bbb8b4; 
}


#fileInput
{
    visibility: hidden;       
    background-color: #ffff00; 
    position: absolute; 
    right: 100; 
    top:   100;
    width: 200; 
    height: 100;    
}

#dataDisplay
{
    font-family: "Arial";
    font-size: 14;
    
    
overflow:auto; /* added for the family tree display
    
    
    /*word-wrap: 'break-word';*/
    word-break: break-all;
    visibility: hidden;       
    position: absolute; 
    right: 200; 
    top: 100;
    width: 500; 
    height: 450;    
    background-color: #bbb8b4; 
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 8px 8px 40px #000000;
	border-radius: 4px;
}


#submitFilenameButton
{
    visibility: hidden;       
    position: absolute; 
    right: 130; 
    top: 185;
    width: 70; 
    height: 25;    
    background-color: #dddcda;
    border-radius: 4px;
    border: 1px solid #444647;
}


#PopupText
{
    position: absolute; 
    overflow:auto; 
    left: 28px; 
    top:  20px; 
    width:300px; 
    /*height:40px; */
    /*border:1px solid #000000;*/
    /*background-color: #00ff00;*/
    color: #000000; 
}

#loadedList
{
    position: absolute; 
    overflow:auto; 
    left: 28px; 
    top:  70px; 
    width:300px; 
    height:100px; 
    border:1px solid #000000;
    
background-color: #dddcda;    
}

#submitAccountButton
{
    visibility: hidden;       
    position: absolute; 
    right: 80; 
    top: 285;
    width: 70; 
    height: 25;    
    background-color: #dddcda;
    border-radius: 4px;
    border: 1px solid #444647;
}


#tweakDefaultButton
{
    position: absolute; 
    width: 130; 
    height: 25;    
    left: 120; 
    top: 140;
    border-radius: 4px;
    border: 1px solid #444647;
}

#noSelectedSwimbotPanel
{
    position: absolute; 
    top: 50;
    font-family: "Arial";
    font-size: 14;
}

#selectedSwimbotPanel
{
    position: absolute; 
    top: 60;
}

#swimbotDataPanel
{
    width: 200; 
    height: 100;
    font-family: "Arial";
    font-size: 13;
    color: #000000; 
}


#infoPanel
{
    visibility: hidden; 
    color: #224422; 
    font-family: "Arial";
    font-size: 13;
    position: absolute; 
    left: 10; 
    top: 10; 
    width: 310; 
    height: 420; 
    /*background-color: #ffffff;*/
}


#donatePanel
{
    color: #000000; 
    font-family: "Arial";
    font-size: 13;
    position: absolute; 
    left: 10; 
    top: 640; 
    width: 200; 
    height: 50; 
}

#contactPanel
{
    color: #000000; 
    font-family: "Arial";
    font-size: 10;
    position: absolute; 
    left: 190; 
    top: 640; 
    width: 200; 
    height: 50; 
}

#donateHeart
{
    position: absolute; 
    left: 150; 
    top: 675; 
}

#donateButton
{
    position:   absolute; 
    width:      130; 
    height:     25;
    background-color: #bbb8b4; 
    font-family: "Arial";
    font-size: 10;     
    border-radius: 4px;
    border: 1px solid #444647;
}

#prevInfoButton
{
    visibility: hidden; 
    position:   absolute; 
    left:       0; 
    bottom:     0; 
    width:      80; 
    height:     30;
    border-radius: 4px;
    border: 1px solid #444647;
}



#nextInfoButton
{
    position: absolute; 
    left: 190; 
    bottom: 0; 
    width: 80; 
    height: 30;
    border-radius: 4px;
    border: 1px solid #444647;
}


#pageNumberLabel
{
    position: absolute; 
    left: 90; 
    bottom: 0; 
    width: 200; 
    font-family: "Arial";
    font-size: 14;
}


#infoText
{
    visibility: hidden; 
    position: absolute;
}



.EcoSliderLabelDisplay
{
    position: absolute; 
    left: 0; 
}
.EcoSliderDisplay
{
    position: absolute; 
    left: 120; 
}
.EcoSliderValueDisplay
{
    position: absolute; 
    left: 260; 
}


#tweakGenesButton
{
    background-color: #dddd88;
    position: absolute; 
    left: 0;
    top: 320;
}


#tweakGenesPanel
{
    font-family: "Arial";
    font-size: 12;
    visibility: hidden;       
    position: absolute; 
    right: 10; 
    top: 10;
    width: 360; 
    height: 750;    
    background-color: #bbb8b4; 
    box-shadow: 8px 8px 40px #000000;
	border-radius: 4px;
}

#closeTweakGenesPanel
{
    visibility: hidden;       
    position: absolute; 
    right: 15; 
    top: 15;
    width: 30; 
    height: 30;    
    background-color: #bbb8b4; 
}

#tweakGenesTitle
{
    position: absolute; 
    left:  20; 
    top:  30; 
    font-family: "Arial";
    font-size: 14;
}

#tweakGenesCategoryNote
{
    position: absolute; 
    left:  20; 
    top:  120; 
}

#category1 { position: absolute; left:  20; top: 140; }
#category2 { position: absolute; left:  70; top: 140; }
#category3 { position: absolute; left: 120; top: 140; }
#category4 { position: absolute; left: 170; top: 140; }


.geneTweakerValue
{
    position: absolute; 
    left: 20;     
}

.geneTweakerSlider
{
    position: absolute; 
    left: 50;     
}

.geneTweakerName
{
    position: absolute; 
    left: 200;     
    width: 150;     
}

#foodGrowthDelayLabel,
#foodGrowthDelay,
#foodGrowthDelayValue
{
    top: 30;    
}

#foodSpreadLabel,
#foodSpread,
#foodSpreadValue
{
    top: 50;
}

#foodBitEnergyLabel,
#foodBitEnergy,
#foodBitEnergyValue
{
    top: 70;
}

#hungerThresholdLabel,
#hungerThreshold,
#hungerThresholdValue
{
    top: 90;
}

#energyToOffspringLabel,
#energyToOffspring,
#energyToOffspringValue
{
    top: 110;
}



/* ---------------------------------------------------------------------------- */
/* radio buttons for attraction                                                 */
/* ---------------------------------------------------------------------------- */
#radioColorful, #radioBig, #radioHyper, #radioLong, #radioStraight, #radioClosest, #radioRandom
{
    position: absolute; 
    left: 0; 
}
#radioNoColor, #radioSmall, #radioStill, #radioShort, #radioCrooked
{
    position: absolute; 
    left: 100; 
}
#radioSimilarColor, #radioSimilarSize, #radioSimilarHyper, #radioSimilarLength, #radioSimilarStraight
{
    position: absolute; 
    left: 200; 
}

#radioColorful, #radioNoColor, #radioSimilarColor
{
    position: absolute; 
    top: 30; 
}

#radioBig, #radioSmall, #radioSimilarSize       
{
    position: absolute; 
    top: 50; 
    }

#radioHyper, #radioStill, #radioSimilarHyper
{
    position: absolute; 
    top: 70; 
}

#radioLong, #radioShort, #radioSimilarLength
{
    position: absolute; 
    top: 90; 
}

#radioStraight, #radioCrooked, #radioSimilarStraight
{
    position: absolute; 
    top: 110; 
}

#radioRandom
{
    position: absolute; 
    top: 130; 
}

#radioClosest
{
    position: absolute; 
    top: 150; 
}


/* ------------------------------------------------------------------------------------------------ */
/* labels for attraction                                                                            */
/* ------------------------------------------------------------------------------------------------ */
#colorfulLabel, #bigLabel, #hyperLabel, #straightLabel, #longLabel, #randomLabel, #closestLabel
{
    position: absolute; 
    left:  25; 
    width: 200; 
}

#noColorLabel, #smallLabel, #stillLabel, #crookedLabel, #shortLabel
{
    position: absolute; 
    left:  125; 
    width: 200; 
}

#similarColorLabel, #similarSizeLabel, #similarHyperLabel, #similarStraightLabel, #similarLengthLabel
{
    position: absolute; 
    left:  225; 
    width: 200; 
}

#colorfulLabel, #noColorLabel, #similarColorLabel
{ top: 30; }

#bigLabel, #smallLabel, #similarSizeLabel
{ top: 50; }

#hyperLabel, #stillLabel, #similarHyperLabel
{ top: 70; }

#straightLabel, #crookedLabel, #similarStraightLabel
{ top: 90; }

#longLabel, #shortLabel, #similarLengthLabel
{ top: 110; }

#randomLabel
{ top: 130; }

#closestLabel
{ top: 150; }


/*
#similarColorLabel, #similarSizeLabel, #similarHyperLabel, #similarStraightLabel, #similarLengthLabel
{ left: 230; }
*/


/*
#smallLabel
{
    position: absolute; 
    left: 140; 
    top:  50;
}
#hyperLabel
{
    position: absolute; 
    left: 20; 
    top:  70;
}
#stillLabel
{
    position: absolute; 
    left: 140; 
    top:  70;
}

#longLabel
{
    position: absolute; 
    left: 20; 
    top:  90;
}
#shortLabel
{
    position: absolute; 
    left: 140; 
    top:  90;
}



#straightLabel, #CrookedLabel
{
    position: absolute; 
    left: 20; 
    top:  110;
}




#CrookedLabel
{
    left: 140; 
}

#similarColorLabel, #similarSizeLabel, #similarHyperLabel, #similarStraightLabel, #similarLengthLabel
{
    position: absolute; 
    left: 230; 
    width: 200;
}

#similarColorLabel
{
    top: 30;
}
#similarSizeLabel
{
    top: 50;    
}
#similarHyperLabel
{
    top:  70;   
}
#similarLengthLabel
{
    top:  90;    
}
#similarStraightLabel
{
    top:  110;    
}

#ClosestLabel
{
    position: absolute; 
    left: 20; 
    top:  130;
}
#RandomLabel
{
    position: absolute; 
    left: 140; 
    top:  130;
}
*/








#freezePanel
{
    position: absolute; 
    left: 10; 
    top:  380;
    width: 200;
}

#attractionPanel
{
    position: absolute; 
    width: /*300*/ 500px
    left: 0px; 
    top:  200px;

    /*
    border:1px solid #000000;
    background-color: #00ff00;
    */
}







